.footer{
  margin-top: 50px;
  padding-top: 25px;
  .container{
    margin-bottom: 50px;
  }
  .social{
    ul{
      list-style: none;
      li{
        a{
          color: black;
          &:hover{
            color: grey;
          }
        }
      }
    }
  }
}