.header {
  color: white;
  background: $grey-light;
  .main {
    h1 {
      position: absolute;
      top: 275px;
      text-align: center;
      width: 100%;
      background: $orange;
      padding: 20px;
      font-size: 80px;
    }
    h3 {
      background: rgba(105, 105, 105, 0.6);
      padding: 20px;
      position: absolute;
      width: 100%;
      top: 410px;
      font-size: 39px;
      .typewrite {
        color: black;
        .wrap {
          border-right: 0.1em solid black
        }
      }
    }
    video {
      width: 100%;
      object-fit: fill;
      min-height: 800px;
      max-height: 800px;
      background: black;
    }

    @media screen and (max-width: 774px) {
      h1 {
        top: 235px;
        width: 100%;
        font-size: 39px;
      }
      h3 {
        font-size: 25px;
        top: 320px;
      }
      video {
        width: 100%;
        object-fit: fill;
        min-height: 600px;
        max-height: 600px;
      }
    }
    .bg {
      width: 100%;
      background-color: transparent;
      min-height: 0;
      max-height: none;
      color: black;
      h2{
        text-align: center;
        width: 100%;
        background: $grey-light;
        padding: 60px;
        font-size: 39px;
        margin: 0;
      }
      h4{
        background: rgba(105, 105, 105, 0.6);
        padding: 20px;
        width: 100%;
        font-size: 39px;
        margin: 0;
      }
    }
  }
}