.navbar-toggler-icon {
  color: $white;
}

.bg-dark {
  background-color: $black !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  &:hover {
    text-decoration: none;
    color: $light-grey;
  }
}

a {

  &:hover {
    text-decoration: none;
  }
  .nav-title {
    color: $dark-blue;
    display: block;
    padding: .3rem 1rem;
    text-align: center;
    border: solid;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.pushed {
  margin-top: 56px;
}
.scroll-down{
  position: absolute;
  width: 100%;
.fa-chevron-down {
    position: relative;
    top: 600px;
    text-align: center;
    font-size: 60px;
    opacity: 0.7;
    z-index: 2;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    &:hover {
      font-size: 80px;
      text-decoration: none;
      opacity: 1;
      color: white;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
    }
  }
  @media screen and (max-width: 774px) {
    .fa-chevron-down {
      top: 400px;
    }
  }
}