.about-content {
  .person-img {
    img {
      width: 100%;
      border-radius: 50%;
      padding: 25px;
    }
  }
  .social-links {
    margin-top: 30px
  }
  .languages, .person-info {
    h4 {
      margin-top: 0;
      margin-bottom: 30px;
      font-family: Quicksand, sans-serif;
      font-weight: 700;
      text-transform: uppercase
    }
  }

  .person-info {
    .person-intro {
      p {
        margin: 0;
      }
    }
    .about-skills {
      div {
        padding: 0;
      }
      h3 {
        margin-top: 0;
        position: relative;
        font-family: Quicksand, sans-serif;
        font-weight: 700;
        text-transform: uppercase
      }
      .about_info {
        padding: 0 25px;
        .text-info {
          color: black !important;
          font-size: 15px;
          line-height: 26px
        }
        .person-name, .person-nationality, .person-phone, .person-dob, .person-address, .person-email {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding-bottom: 20px;
          p {
            display: inline-block;
            min-width: 100px;
            color: black;
            font-weight: 700;
          }
          span {
            display: inline-block;
            min-width: 100px;
            color: grey;
          }
          @media (max-width: 992px) {
            p {
              display: table-cell;
              min-width: 90px;
              color: black;
              font-weight: 700;
            }
          }
        }
        ul {
          list-style: none;
          padding-left: 0;
          li {
            color: black;
            p {
              display: inline-block;
              width: 80px;
              font-size: 15px;
              margin-right: 20px;
              color: #000;
              font-weight: 700
            }
            span {
              font-size: 16px
            }
          }
        }
      }
      .butt-resume {
        background-color: black;
        margin-top: 15px;
        a {
          text-decoration: none;
          color: $white;
          background-color: black;
          font-size: 16px;
          padding: 10px 20px;
          border: 1px solid black;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          &:hover {
            border: 1px solid black;
            background-color: transparent;
            color: black
          }
        }
      }
    }
  }
  .languages {
    .single-lang {
      margin-bottom: 25px;
      .prog {
        i {
          margin-right: 5px
        }
      }
      .lang-title {
        h5 {
          font-size: 15px;
          color: #000;
          text-transform: uppercase;
          font-weight: 700;
          font-family: Quicksand, sans-serif;
          margin-bottom: 5px
        }
      }
      .fa-star-o {
        color: grey
      }
    }
  }
}