.portfolio-text {
  p{
    a{
      color: $dark-blue;
      text-decoration: none;
      &:hover{
        color: $dark-grey;
      }
    }
  }
  .butt-resume {
    a {
      text-align: left;
      text-decoration: none;
      color: $white;
      background-color: black;
      font-size: 16px;
      margin-top: 20px;
      display: inline-block;
      padding: 10px 20px;
      border: 1px solid black;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:hover {
        border: 1px solid black;
        background-color: transparent;
        color: black
      }
    }

  }

  .button-tag {
    p {
      display: inline-block;
      margin-left: 5px;
    }
    i {
      display: inline-block;
    }
  }

  .small-text-portfolio {
    color: darkgrey;
    font-style: italic;
    margin-top: 20px;
  }

  .button-tag {
    background-color: darkgrey;
    color: white;
    padding: 10px;
    margin-right: 10px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 5px;

    p {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .large-text-portfolio {
    color: black;
  }

  h1 {
    padding-left: 10px;
    font-size: 2em;
    color: white;
    text-transform: lowercase;
    display: inline-block;
    margin: 0;
    vertical-align: unset;
    font-weight: 200;
  }

  .header-portfolio {
    background: $dark-blue;
    color: white;
    &:before {
      color: white;
      display: inline-block;
      background-color: black;
      font-size: 30px;
      text-align: center;
      content: "Project: ";
      padding: 15px;
    }
    h2{
      display: inline-block;
      margin-left: 10px;
      padding-top: 10px;
    }
  }
  @media screen and (max-width: 992px) {
    .header-portfolio {
      &:before {
        width: 100%;
      }
    }
  }

}

.portfolio-video {
  background-color: $dark-grey;
  margin-bottom: 25px;
  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 60%;
  }
}

.portfolio-image {
  width: 100%;
  margin-top: 20px;
  img {
    width: 100%;
  }
}

#portfolio{
  background-color: white;
  .portfolio-content {
    margin-top: 3em
  }
  .type-of-work {
    margin-bottom: 10px;
    margin-right: 35px;
    cursor: default;
    li {
      display: inline-block;
      background-color: transparent;
      color: black;
      margin: 10px 5px;
      padding: 10px 20px;
      font-family: Quicksand, sans-serif;
      font-weight: 600;
      letter-spacing: 2px;
      cursor: pointer;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &:active{
        &:after{
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: black
        }
      }
    }
  }
}

.portfolio-area {
  padding-top: 90px;
  padding-bottom: 60px
}

.portfolio-menu {
  margin-bottom: 20px;
  text-align: center
}

.single-portfolio {
  position: relative;
  overflow: hidden;
  padding: 10px;
  &:hover {
    img{
      -webkit-transform: scale(1.12);
      -moz-transform: scale(1.12);
      -o-transform: scale(1.12);
      transform: scale(1.12)
    }
    .sin-portfolio-overlay {
      opacity: .35
    }
    .sin-portfolio-icon {
      opacity: 1;
      top: 44%
    }
  }

  img {
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .45s;
    -moz-transition: .45s;
    -o-transition: .45s;
    transition: .45s
  }
}

.sin-portfolio-overlay {
  background: black none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s
}

.sin-portfolio-icon {
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 100%;
  -webkit-transition: .35s;
  -moz-transition: .35s;
  -o-transition: .35s;
  transition: .35s;

  a {
    i.fa{
        border: 2px solid $white;
        border-radius: 50%;
        color: $white;
        font-size: 15px;
        height: 38px;
        line-height: 35px;
        width: 38px;
        -webkit-transition: .35s;
        -moz-transition: .35s;
        -o-transition: .35s;
        transition: .35s
      }

    &:hover{
      i.fa{
          color: $white;
          background-color: black;
          border: 2px solid black
      }
    }
  }
}