.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%
}

.timeline h2, .timeline h3 {
  line-height: inherit;
  margin-top: 0;
  font-size: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 700
}

.timeline-item {
  padding-left: 40px;
  position: relative
}

.timeline-item:last-child {
  padding-bottom: 0
}

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  white-space: nowrap
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px
}

.timeline-marker:before {
  background: #333;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  -webkit-transition: background .3s ease-in-out, border .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, border .3s ease-in-out;
  -o-transition: background .3s ease-in-out, border .3s ease-in-out;
  transition: background .3s ease-in-out, border .3s ease-in-out
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #333;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px
}

.timeline-item:last-child .timeline-marker:after {
  content: none
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: 0 0;
  border: 3px solid #333
}

.timeline-content {
  padding-bottom: 40px
}

.timeline-content p:last-child {
  margin-bottom: 0;
  line-height: 26px;
  font-size: 15px;
  color: grey
}

.period {
  padding: 0
}

.period .timeline-info {
  display: none
}

.period .timeline-marker:before {
  background: 0 0;
  content: "";
  width: 15px;
  height: auto;
  border: 0;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333
}

.period .exp-title:before {
  border-top: 0
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto
}

.period .timeline-content {
  padding: 40px 0 70px
}

.period .timeline-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  background-color: #333;
  display: inline-block;
  color: $white;
  padding: 7px 14px;
  position: relative;
  letter-spacing: 1px
}

@media (min-width: 992px) {
  .timeline-centered, .timeline-centered .timeline-content, .timeline-centered .timeline-info, .timeline-centered .timeline-item, .timeline-centered .timeline-marker {
    display: block;
    margin: 0;
    padding: 0
  }

  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden
  }

  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px
  }

  .timeline-centered .timeline-content, .timeline-centered .timeline-info {
    width: 50%
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px
  }

  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center
  }

  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
    padding-bottom: 30px
  }

  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto
  }

  .timeline-centered .period .timeline-title {
    left: auto
  }
}

.timeline-centered .timeline-reset {
  padding-bottom: 0
}
